{% extends "base.html" %}

{% block head_extra %}
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row-fluid">
    {% include "includes/sidenav.html" %}
    <div class="span9">
      <h3 class="text-left">
        Where are you checking in?
      </h3>
      <div class="row-fluid">
        <p></p>
        
        {% for e in events %}
        <div class="span8">
            <div class="list-group">
              <a href="#" class="list-group-item event_clicks" data="{{ e.id }}">{{ e.name }}</a>
            </div>
        </div>
        {% endfor %}
        
      </div>
    </div>
  </div>
</div>

<script>
$(".event_clicks").click(function(e){  

    $.ajax( {
        type: 'GET',
        url: '/ajax_checkin/',
        // dataType: "json",
        data: {'event': e.target.getAttribute('data')},

        success: function ( data, textStatus, jqXHR) {
            
            if ( data.status ) { // success
                //alert('yes');
                //location.reload( true ); // refresh page, no cache
            }
            else { // error
                //alert('error');
                //$(modalSelector).replaceWith(data.content);
                //$(modalSelector).removeClass('hidden')
                //$(modalSelector).center();

                // initialize select box
                //initSelectBox( selectBoxConfig );
            }
          },

        error: function (jqXHR, textStatus, errorThrown) {
            debug("error: " + textStatus);
        }
    } );
});
</script>
{% endblock %}
