{% extends "base.html" %}

{% block head_extra %}
{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3">
			<ul class="nav nav-list">
				<li class="active">
					<a href="/checkin/">Check-In</a>
				</li>
				<li>
					<a href="#">Points</a>
				</li>
				<li>
					<a href="/redemption/">Redeem</a>
				</li>
				<li>
					<a href="/useraccount/">Profile</a>
				</li>
				<li class="divider">
				</li>
				<li>
					<a href="#">Help</a>
				</li>
			</ul>
		</div>
		<div class="span9">
			<table class="table table-condensed table-hover">
				<thead>
					<tr>
						<th>
							Date
						</th>
						<th>
							Event
						</th>
						<th>
							Points Earned
						</th>
						<th>
							Points Spent
						</th>
						<th>
							Balance
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							10/7/13
						</td>
						<td>
							Check-in: School
						</td>
						<td>
							200
						</td>
						<td>
							-
						</td>
						<td>
							10,000
						</td>
					</tr>
					<tr>
						<td>
							10/8/13
						</td>
						<td>
							Check-in: School
						</td>
						<td>
							200
						</td>
						<td>
							-
						</td>
						<td>
							10,200
						</td>
					</tr>
					<tr>
						<td>
							10/9/13
						</td>
						<td>
							Check-in: School
						</td>
						<td>
							200
						</td>
						<td>
							-
						</td>
						<td>
							10,400
						</td>
					</tr>
					<tr>
						<td>
							10/10/13
						</td>
						<td>
							Check-in: School
						</td>
						<td>
							200
						</td>
						<td>
							-
						</td>
						<td>
							10,600
						</td>
					</tr>
					<tr>
						<td>
							10/10/13
						</td>
						<td>
							Redeemed points
						</td>
						<td>
							-
						</td>
						<td>
							4,000
						</td>
						<td>
							6,600
						</td>
					</tr>
					<tr>
						<td>
							10/11/13
						</td>
						<td>
							Check-in: School
						</td>
						<td>
							200
						</td>
						<td>
							-
						</td>
						<td>
							6,800
						</td>
					</tr>
				</tbody>
			</table> <button class="btn btn-primary pull-right" type="button">Redeem</button>
		</div>
	</div>
</div>
{% endblock %}
