{% extends "base.html" %}

{% block head_extra %}
{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row-fluid">
		{% include "includes/sidenav.html" %}
		<div class="span9">
			<table class="table table-condensed table-hover">
				<thead>
					<tr>
						<th>
							Date
						</th>
						<th>
							Event
						</th>
						<th>
							Points Earned
						</th>
						<th>
							Points Spent
						</th>
						<th>
							Balance
						</th>
					</tr>
				</thead>
				<tbody>
					{% set total = 0 %}
					{% for e in history %}
					{% set total = total + e.event.point_value %}
					<tr>
						<td>
							{{ e.date }}
						</td>
						<td>
							Check-in: {{ e.event.name }}
						</td>
						<td>
							{{ e.event.point_value }}
						</td>
						<td>
							-
						</td>
						<td>
							{{ total }}
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table> <button class="btn btn-primary pull-right" type="button">Redeem</button>
		</div>
	</div>
</div>
{% endblock %}
