{% extends "base.html" %}

{% block head_extra %}
    <link href="/static/css/home.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action
    -->
    <div class="jumbotron">
      <div class="container">
        <h1>
          Rewards for healthy lifestyle choices
        </h1>
        <p>
          Geo-Incentives enables disadvantaged high school students in the Bay Area to earn points by "checking in" to healthy, constructive activities. Points can be redeemed for laptops, plane tickets, or some good ol' cash via PayPal Student!
        </p>
        <p>
          <a class="btn btn-primary btn-lg" style="background-color: #FF0000">Learn more »</a>
        </p>
      </div>
    </div>
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>
            Who Is Eligible
          </h2>
          <p>
            Our rewards are reserved for students without readily available financial supports or opportunities to grow. We focus on low-income students aged 13 to 18. If you think you meet this criteria, please apply using the below link and we'll get back to you within 24 hours! 
          </p>
          <p>
            <a class="btn btn-default" href="#">Apply »</a>
          </p>
        </div>
        <div class="col-md-4">
          <h2>
            Sponsor A Reward
          </h2>
          <p>
            Our rewards marketplace provides businesses with an opportunity to meet their financial and social bottom lines. By sponsoring a reward, you can change a life and raise brand awareness among young people. Nonprofits can also use our reward marketplace to distribute goods.
          </p>
          <p>
            <a class="btn btn-default" href="#">Apply »</a>
          </p>
        </div>
        <div class="col-md-4">
          <h2>
            Help Nonprofits
          </h2>
          <p>
            Youth are not the only ones being rewarded by our product. Nonprofits spend huge amounts of time and money tracking participant behavior. For the first time ever, nonprofits can use data submitted and collected by youth themselves to satisfy funding requirements.
          </p>
          <p>
            <a class="btn btn-default" href="#">Apply »</a>
          </p>
        </div>
      </div>
      <hr>
      <footer>
        <p>
          © New Incentives 2013
        </p>
      </footer>
    </div>
    <!-- /container -->
    </script>
{% endblock %}
