{% extends "base.html" %}

{% block head_extra %}
{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3">
			<ul class="nav nav-list">
				<li class="active">
					<a href="/checkin/">Check-In</a>
				</li>
				<li>
					<a href="#">Points</a>
				</li>
				<li>
					<a href="/redemption/">Redeem</a>
				</li>
				<li>
					<a href="/useraccount/">Profile</a>
				</li>
				<li class="divider">
				</li>
				<li>
					<a href="#">Help</a>
				</li>
			</ul>
		</div>
		<div class="span9">
			<div class="row-fluid">
				<div class="span7">
					<h1>
						Get Cash Back
					</h1>
					<p>
						Get cash back for the points you redeem with a PayPal student account!
					</p>
					<p>
						<a class="btn" href="#">Redeem with PayPal</a>
					</p>
					<h1>
						Gift Cards
					</h1>
					<p>
						Get gift cards sponsored by cool businesses near you.
					</p>
					<p>
						<a class="btn" href="#">Redeem for Gift Cards</a>
					</p>
					<h1>
						Merchandise
					</h1>
					<p>
						Get awesome products like laptops, calculators, eBook readers and more!
					</p>
					<p>
						<a class="btn" href="#">Redeem for Merchandise</a>
					</p>
				</div>
				<div class="span5">
					<table class="table table-condensed">
						<thead>
							<tr>
								<th>
									Redeem for:
								</th>
								<th>
									Redemptions starting at:
								</th>
							</tr>
						</thead>
						<tbody>
							<tr class="info">
								<td>
									Cash Back
								</td>
								<td>
									1000 Points
								</td>
							</tr>
							<tr class="info">
								<td>
									Gift Cards
								</td>
								<td>
									2000 Points
								</td>
							</tr>
							<tr class="info">
								<td>
									Merchandise
								</td>
								<td>
									3000 Points
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
