{% extends "base.html" %}

{% block head_extra %}
{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row-fluid">
		{% include "includes/sidenav.html" %}
		<div class="span9">
			<form>
				<fieldset>
					 <legend>My Account</legend> <label>Change Password</label><input type="text"> <label>Change Email</label><input type="text"> <label>Change Address</label><input type="text"> <!--><span class="help-block">Add PayPal Account</span> <button type="submit" class="btn">Change Me!</button><-->
				</fieldset>
			</form>
		</div>
	</div>
</div>
</body>
</html>
{% endblock %}
